* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: rgb(187, 88, 138);
}

.nav {
  height: 3vh;
  background-color: darksalmon;
}

.main {
  height: 94vh;
  background-color: darkred;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.item {
  width: 26%;
  height: 25vh;
  background-color: darksalmon;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.item-top {
  height: 20%;
  width: 80%;
  background-color: darkred;
}

.item-main {
  height: 50%;
  width: 80%;
  background-color: darkred;
}

.footer {
  height: 3vh;
  background-color: darksalmon;
}

.box {
  width: 95%;
  height: 40vh;
  background-color: darksalmon;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-2 {
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-element {
  background-color: darkred;
  width: 55%;
  height: 80%;
}

.box-2-element {
  background-color: darkred;
  width: 100%;
  height: 30%;
}

.box-3 {
  width: 95%;
  height: 40vh;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.box-3-element {
  background-color: darkred;
  width: 90%;
  height: 35%;
}

.box-4 {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.box-4-element {
  background-color: darkred;
  width: 14%;
  height: 100%;
}
